<div class="row align-items-center default-container">
  <div class="col-lg-8">
    <div class="content">
      <div class="content-left">
        <h2 class="default-topic">About me.</h2>
        <p class="default-p">
          My name is Praveen Kaniki and I enjoy
          <span class="default-highlight">creating software out of an idea</span
          >.
        </p>
        <p>
          <img src="../../assets/grad_pic.jpeg" class="about-picture" />
        </p>
        <p class="default-p">
          I am Praveen Kaniki, a Java Full Stack Developer from USA. Telugu is
          my native tongue, and I am fluent in English.
        </p>
        <p class="default-p">
          My journey in software development began with a deep curiosity about
          building impactful solutions. Over the years, I’ve had the privilege
          of working with a wide range of technologies, including Java, Angular,
          Spring Boot, REST APIs, and cloud platforms like AWS, GCP, and Azure.
        </p>
        <p class="default-p">
          Fast-forward to today, I have honed my expertise in developing
          scalable, responsive, and user-centric applications. From creating
          e-commerce platforms to building microservices architectures, I’ve
          gained experience in crafting both front-end and back-end solutions.
        </p>
        <p class="default-p">
          Beyond coding, I’ve also developed essential
          <span class="default-highlight">soft skills</span>: collaborating with
          cross-functional teams, leading transformative initiatives, and
          improving organizational workflows. My technical journey has allowed
          me to build websites,
          <span class="default-highlight">REST APIs</span>, dynamic dashboards,
          and optimize systems for performance and scalability.
        </p>
        <p class="default-p">
          On the personal side, I enjoy
          <span class="default-highlight">documentaries</span>,
          <span class="default-highlight">teamwork</span>, science fiction
          movies, and exploring new technologies. I also have a passion for
          Linux, purpose-driven projects, and capturing travel experiences to
          revisit later.
        </p>
        <p class="default-p">
          I am continuously evolving my skills and methodologies to create
          impactful software solutions. Whether it's developing responsive
          interfaces, architecting robust back-end services, or delivering
          full-stack applications, I am passionate about driving innovation
          through technology.
        </p>
      </div>

      <div class="content">
        <div class="content-left">
          <h2 class="default-topic">Reach out.</h2>
          <p class="default-p">
            Follow me on social media, check out my Github account for projects
            or
            <span class="default-highlight">reach out to arrange a meeting</span
            >. I would be happy to know how my
            <span class="default-highlight">problem-solving skills</span> can
            contribute to<span class="default-highlight">
              address the challenges you are facing</span
            >.
          </p>
          <button>
            <a routerLink="/contact"> > Contact me </a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
